<nz-row [nzGutter]="24" class="py-lg">
  <nz-col [nzXs]="2" [nzMd]="4" nzLg="6" nzXl="6">
  </nz-col>
  <nz-col [nzXs]="10" [nzMd]="8" nzLg="6" nzXl="6">
    <nz-card [@flip]="mouse" (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave(1)">
      <a (click)="router.navigate(['/pro/deploy']);" class="d-block text-center text-primary">
        <i class="anticon anticon-rocket mb-md" style="font-size: 72px"></i>
        <h2 class="mb0">业务订购</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="10" [nzMd]="8" nzLg="6" nzXl="6">
    <nz-card [@flip2]="mouse2" (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave(2)">
      <a (click)="router.navigate(['/services']);" class="d-block text-center text-red">
        <i class="anticon anticon-hdd mb-md" style="font-size: 72px"></i>
        <h2 class="mb0">已订购业务查询</h2>
      </a>
    </nz-card>
  </nz-col>
  <nz-col [nzXs]="2" [nzMd]="4" nzLg="6" nzXl="6">
  </nz-col>

</nz-row>

