<div class="content__title">
  <h1>服务详情页</h1>
</div>

<div class="extra mt-md" >
  <div nz-row class="mb-md">
    <div nz-col [nzSm]="8" class="text-right">服务名称：</div>
    <div nz-col [nzSm]="16"><b>{{service.service_name}}</b></div>
  </div>


  <div nz-row class="mb-md">
    <div nz-col [nzSm]="8" class="text-right">服务ID：</div>
    <div nz-col [nzSm]="16">{{service.id}}</div>
  </div>

  <div nz-row class="mb-md">
    <div nz-col [nzSm]="8" class="text-right">服务类型：</div>
    <div nz-col [nzSm]="16"><b>云网融合 Cloudbone</b></div>
  </div>
  <div nz-row class="mb-md" >
    <div nz-col [nzSm]="8" class="text-right">云端选择：</div>
    <div nz-col [nzSm]="16"><b>阿里云</b></div>
  </div>
  <div nz-row class="mb-md" >
    <div nz-col [nzSm]="8" class="text-right">站点信息：</div>
    <div nz-col [nzSm]="16"></div>
  </div>

  <!--<div nz-row class="mb-md">-->
  <!--<div nz-col [nzSm]="8" class="text-right"> </div>-->
  <!--<div nz-col [nzSm]="16">-->
  <!--<nz-tag nzMode="checkable" [nzChecked]="true" ">Tag1</nz-tag>-->
  <!--<nz-tag nzMode="checkable" [nzChecked]="true" ">Tag2</nz-tag>-->
  <!--<nz-tag nzMode="checkable" [nzChecked]="true" ">Tag3</nz-tag>-->
  <!--<nz-tag nzMode="checkable" [nzChecked]="true" ">Tag3</nz-tag>-->

  <!--</div>-->


  <!--</div>-->

  <div nz-row [nzGutter]="16" *ngFor="let data of service.sites; let i = index" >
    <div nz-col [nzXs]="6" [nzMd]="6" class="mb-md">
    </div>
    <div nz-col [nzXs]="12" [nzMd]="12" class="mb-md">
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="bg-white py-md rounded-md">
        <div nz-col [nzSpan]="3" class="text-center" style="padding-right:5px">
        <span class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-icon bg-primary">
          <i class="anticon anticon-database"></i>
        </span>
        </div>
        <div nz-col [nzSpan]="6">
          <strong class="display-3">{{data.name}}</strong>
          <div class="text-grey">{{data.cityName}}</div>
        </div>
        <div nz-col [nzSpan]="5">
          <nz-badge [nzStatus]="'processing'"></nz-badge>
          <p style="display:inline;white-space: nowrap;overflow: hidden;text-overflow: clip;width:1px;max-width: 10px;">   {{ (data.address.length>6)? (data.address | slice:0:6)+'..':(data.address) }}
          </p>
          <!--<span class="display-3 text-grey-dark">3</span>-->
        </div>
        <div nz-col [nzSpan]="5">
          <nz-badge [nzStatus]="'processing'"></nz-badge>
          {{data.bandwidth}}Mbps
          <!--<span class="display-3 text-grey-dark">5</span>-->
        </div>
        <div nz-col [nzSpan]="5">
          <nz-badge [nzStatus]="'processing'"></nz-badge>
          {{data.slaName}}
          <!--<span class="display-3 text-grey-dark">2</span>-->
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="6" [nzMd]="6" class="mb-md">
    </div>
  </div>
  <div nz-row [nzGutter]="16" >
    <div nz-col [nzSpan]="6"></div>
    <div nz-col [nzSpan]="12">
      <nz-card [nzBordered]="false" nzTitle="服务状态" [nzExtra]="extraTemplate">
        <nz-timeline [nzPending]="'部署中...'" *ngIf="service.status!='complete' && service.status!='failed'">
          <nz-timeline-item *ngFor="let log of service.logs">于 <b>{{log.time}}</b> {{log.log}}</nz-timeline-item>
          <!--<nz-timeline-item>于 <b>2018-06-24</b> 成功部署云端节点</nz-timeline-item>-->
          <!--<nz-timeline-item>于 <b>2018-06-24</b> 成功启动云端服务</nz-timeline-item>-->
        </nz-timeline>

        <nz-timeline *ngIf="service.status=='complete' || service.status=='failed'">
          <nz-timeline-item *ngFor="let log of service.logs">于 <b>{{log.time}}</b> {{log.log}}</nz-timeline-item>
          <!--<nz-timeline-item>于 <b>2018-06-24</b> 成功部署云端节点</nz-timeline-item>-->
          <!--<nz-timeline-item>于 <b>2018-06-24</b> 成功启动云端服务</nz-timeline-item>-->
        </nz-timeline>

      </nz-card>

      <ng-template #extraTemplate>
        <nz-badge [nzStatus]="getStatus(service.status)"></nz-badge>{{getStatusText(service.status)}}
      </ng-template>

    </div>
    <div nz-col [nzSpan]="6"></div>

  </div>
  <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" [nzGutter]="16" >
    <div nz-col [nzSpan]="6"></div>

    <div nz-col [nzSpan]="12" >
      <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzAlign]="'middle'" [nzGutter]="16" >
        <div nz-col [nzOffset]="20" [nzSpan]="2" >

          <button nz-button class="ml-sm" [nzType]="'danger'" (click)="showDeleteConfirm()" [nzLoading]="loading">删除服务</button>
        </div>
      </div>

    </div>
    <div nz-col [nzSpan]="6"></div>

  </div>

</div>
